.navbar * {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  overflow: hidden;
}

.navbar.bg-mq .logo img {
  max-height: 50px !important;
}

.navbar-brand {
  padding: 0px !important;
}